body{
    background-color: #111111;
    color: #f8f9fa;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pdp{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.githublogo:hover, .rootmelogo:hover {
    transform: scale(1.15);
    transition: transform 0.3s ease-in-out;
}

.githublogo{
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
}

.rootmelogo{
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
}
