body{
    background-color: #111111;
    color: #f8f9fa;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 24px;
}

.projects{
    color: #f8f9fa
}

@media (max-width: 1024px) {
  body {
    max-width: 900px;
  }
}

@media (max-width: 768px) {
  body {
    max-width: 100%;
    padding: 0 16px;
  }
}

@media (max-width: 480px) {
  body {
    padding: 0 12px;
  }
}

.pdp{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;

    padding: 1em;
}

.socials {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.githublogo:hover, .rootmelogo:hover {
    transform: scale(1.15);
    transition: transform 0.3s ease-in-out;
}

.githublogo{
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
}

.rootmelogo{
    width: 2.3em;
    height: 2.3em;
    border-radius: 50%;
}

.Write-ups{
  border : 1px solid #f8f9fa;
  border-radius: 8px;
  padding: 1em;
  margin-bottom: 15px;
}

.Linux-Setup-Script{
    border : 1px solid #f8f9fa;
    border-radius: 8px;
    padding: 1em;
    margin-bottom: 20px;
}

a{
  text-decoration: none;
  color: #f8f9fa
}

a:hover{
  transform: scale(1.05);
}
